{% include 'agrosoft/layout.html' with active_page='inventario' %}
{% load static %}
{% block container %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1>  
                <i class="fas fa-reply" style="color: #31c536"></i> 
                Registrar Entrada Bien
            </h1>
            <div class="dropdown-divider"></div>            
            
            <form method="POST" enctype="multipart/form-data" class="was-validated required">
                {% csrf_token %}
                <div>                                      
                    <div>
                        <label for="fecha_Ingreso">Fecha de Entrada</label></br>
                        <input type="date" id="fecha_Ingreso" name="fecha_Ingreso" class="form-control">                        
                    </div>                    
                                                        
                </div>
                <button type="submit" class="btn btn-agrosoft px-4 my-3">Registrar Entrada Bien</button>
                <a href="{% url 'agrosoft:listarbienes'%}" class="btn btn-agrosoft px-4 my-3">Cancelar</a>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}

        
        
    