{% include 'agrosoft/layout.html' with active_page='fertilizante' %}
{% load static %}
{% block container %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1>  
                <i class="fas fa-pencil-alt" style="color: #31c536"></i> 
                Editar Fertilizante
            </h1>
            <div class="dropdown-divider"></div>
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% if form.fertilizantes.errors %}
                        <p>* Ya existe una Enfermedad con ese nombre</p>
                    {% endif %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <p>{{ form.nombre.errors.as_text }}</p>
                    <p>{{ form.marca.errors.as_text }}</p>
                    <p>{{ form.descripcion.errors.as_text }}</p>
                    <p>{{ form.beneficios.errors.as_text }}</p>
                </div>
            {% endif %}
            
            <form method="POST" enctype="multipart/form-data" class="was-validated required">
                {% csrf_token %}
                <div>
                    <div>
                        <label>Nombre</label>
                        {{form.nombre}}
                    </div>
                    <div>
                        <label>Marca</label>
                        {{form.marca}}
                    </div>
                    <div>
                        <label>Descripción</label>
                        {{form.descripcion}}
                    </div>
                    <div>
                        <label>Beneficios</label>
                        {{form.beneficios}}
                    </div>
                </div>
                <button type="submit" class="btn btn-agrosoft px-4 my-3">Modificar Fertilizante</button>
                <a href="{% url 'agrosoft:listarfertilizantes' %}" class="btn btn-agrosoft px-4 my-3">Cancelar</a>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}

        
        
    