{% include 'agrosoft/layout.html' with active_page='personal' %}
{% load static %}
{% block container %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1> <i class="fa fa-building" style="color: #01681e;"></i>
                <span class="text-success">{{title}}: </span>
                <span class="text-capitalize">{{lote.nombre}}</span>
            </h1>
            
           
            <div class="dropdown-divider"></div>
            
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            <!-- Table of registers  -->
            {% if lotes %}
            <div class="table-responsive shadow-sm" style="border-radius: 9px;">
                <table class="table table-bordered">
                    <thead style="background: linear-gradient(120deg,#37db73,#3adf97);" class="text-center">
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo de Producto</th>
                            <th scope="col">Cajas</th>
                            <th scope="col">Kilogramos (kg.)</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for p in lotes %}
                        <tr>
                            <td> {{p.nombre}}</td>
                            <td> {{p.area}} &#13217;</td>
                            <td> {{p.fecha_riego}}
                            <td> {{p.produ}} cajas
                            <td class="jaku-actions">
                                <ul>
                                    <li>                                       
                                        <a class="eliminar" href="{% url 'agrosoft:eliminarlote' p.id %}"
                                            onclick="return confirm('¿Está seguro de eliminar este Cultivo?')"
                                            data-toggle="tooltip" title="Editar" data-placement="top"><i
                                                class="fas fa-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
                
            </div>
            <!-- End of table of registers  -->
            {% else %}
            <div class="container-fluid">
                <div class="alert alert-primary">
                    <p>No tiene producciones registradas!</p>
                </div>
            </div>
            {% endif %}

            

            <div class="dropdown-divider"></div>
			<h1> <i class="fas fa-sticky-note" style="color: #bdc3c7;"></i> Agregar cantidad </h1>
			<div class="dropdown-divider"></div>
			<form action="." method="POST" class="needs-validation required" novalidate enctype="multipart/form-data">
				{%csrf_token%}
				<div class="card mb-3" id="newTask">
					<div class="card-header h4">Nueva Producción
						<span class="pull-right clickable close-icon" dataset="fadeOut" id="taskClose"><i class="fa fa-times" aria-hidden="true"></i></span>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-3 mb-3">
								<label for="">Tarea</label>
								<input type="text" name="task_name" class="form-control" required pattern="^((\S+ )*\S+)?$"
								data-toggle="tooltip" data-placement="left"								>
							</div>
							<div class="col-md-3 mb-3">
								<label for="">Asignado a:</label>
								<select name="personal_users" id="personal_users" class="form-control">
									<option selected>Ninguno</option>
									{%for p in personal_users%}
									<option value="{{p.id}}">{{p.last_name}}, {{p.first_name}}</option>
									{%endfor%}
								</select>
							</div>
							<div class="col-md-3 mb-3">
								<label for="">Fecha de asignación:</label>
								<input type="date" name="assigned_date" class="form-control" required>
							</div>
							<div class="col-md-3 mb-3">
								<label for="">Fecha límite:</label>
								<input type="date" name="due_date" class="form-control" required>
							</div>
						</div>
					</div>
				</div>
				<div id="divTasks">

				</div>
				<!-- </div> -->
				<button type="button" onclick="newField()" class="btn btn-info mx-2"><i
						class="fas fa-plus mr-2"></i>Añadir nueva cantidad</button>
				<button type="submit" class="btn btn-jaku px-4">Guardar</button>
                <a class="btn btn-jaku my-3 ml-2" href="{% url 'agrosoft:listarpersonal'%}">Volver a lista de</a>                

			</form>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var close = document.getElementById('taskClose');
	close.addEventListener('click', () => document.getElementById('newTask').remove());
	var countTask = 0;
	function newField() {
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
		countTask = countTask+1
		var divTask = document.createElement('div');
		var divTaskHead = document.createElement('div');
		var divTaskBody = document.createElement('div');
		var divContentTaskBody = document.createElement('div');
		var spanClose = document.createElement('span');
		var iClose = document.createElement('i');
		var divContentTask = document.createElement('div');
		var divContentAssigned = document.createElement('div');
		var divContentDateAssigned = document.createElement('div');
		var divContentDateLimit = document.createElement('div');

		var laInput = document.createElement('label');
		var input = document.createElement('input');
		
		var laSelect = document.createElement('label');
		var select = document.createElement('select');
		var laDateAssined = document.createElement('label');
		var input_due_date = document.createElement('input');
		var laDateLimit = document.createElement('label');
		var input_assigned_date = document.createElement('input');

		divTask.className = 'card mb-3'
		divTaskHead.className = 'card-header h4'
		divTaskHead.innerHTML = 'Nueva tarea'
		divTaskBody.className = 'card-body'
		spanClose.className = 'pull-right clickable close-icon'
		spanClose.dataset = 'fadeOut'
		spanClose.id = 'taskCloses'
		iClose.className = 'fa fa-times'
		divContentTaskBody.className = 'form-row'
		divContentTask.className = 'col-md-3 mb-3'
		divContentAssigned.className = 'col-md-3 mb-3'
		divContentDateAssigned.className = 'col-md-3 mb-3'
		divContentDateLimit.className = 'col-md-3 mb-3'
		
		laInput.innerHTML = 'Tarea'
		input.setAttribute('data-toggle', 'tooltip');
		input.setAttribute('data-placement', 'left');
		input.name = 'task_name';
		input.required = true
		input.className = 'form-control';
		input.pattern = '^((\\S+ )*\\S+)?$'
		laDateAssined.innerHTML = 'Fechas de asignación:'
		laDateLimit.innerHTML = 'Fecha límite:'
		input_due_date.type = 'date'
		input_due_date.name = 'due_date'
		input_due_date.className = 'form-control';
		input_due_date.required = true
		input_assigned_date.type = 'date'
		input_assigned_date.name = 'assigned_date'
		input_assigned_date.className = 'form-control';
		input_assigned_date.required = true
		
		laSelect.innerHTML = 'Asignado a:'
		select.name = 'personal_users';
		select.className = 'form-control';
		var o;
		o = document.createElement('option')
		o.value = 'Ninguno';
		o.text = 'Ninguno';
		o.setAttribute('selected', 'selected');
		select.appendChild(o);

		{% for p in personal_users %}
		o = document.createElement('option');
		o.value = '{{p.id}}';
		o.text = '{{p.first_name}}';
		select.appendChild(o);
		{% endfor %}

		divTasks.appendChild(divTask);
		divTask.appendChild(divTaskHead);
		divTaskHead.appendChild(spanClose);
		spanClose.appendChild(iClose);
		divTask.appendChild(divTaskBody);
		divTaskBody.appendChild(divContentTaskBody);
		divContentTaskBody.appendChild(divContentTask);
		divContentTaskBody.appendChild(divContentAssigned);
		divContentTaskBody.appendChild(divContentDateAssigned);
		divContentTaskBody.appendChild(divContentDateLimit);
		divContentTask.appendChild(laInput);
		divContentTask.appendChild(input);
		divContentAssigned.appendChild(laSelect);
		divContentAssigned.appendChild(select);
		divContentDateAssigned.appendChild(laDateAssined);
		divContentDateAssigned.appendChild(input_assigned_date);
		divContentDateLimit.appendChild(laDateLimit);
		divContentDateLimit.appendChild(input_due_date);
		
		spanClose.addEventListener('click', () =>divTask.remove());

		// document.getElementById("divInput").appendChild(divi)
		// document.getElementById("divSelect").appendChild(divs)
		// document.getElementById("divDateA").appendChild(divda)
		// document.getElementById("divDateL").appendChild(divdl)

	}
</script>
{% endblock%}