body {
  
  background: url("../../static/images/cool-background.png");
  
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Events Jaku */
.Events-Jaku {
  }
  .title-events.fa.fa-calendar {
    color: rgb(255, 255, 255);
    background-color: #206b11;
    margin: 0;
    padding: 20px;
  }
  .far.fa-calendar-alt.mx-3 {
    margin: 0;
    padding: 12px;
  }
  .Events .title-events .title .fa-calendar {
    color: #fff;
  }
  .List-Events,
  .List-News {
    margin: 15px 25px;
  }
  .d-inline-block.text-events {
    border-bottom: 5px solid #097e47;
  }
  .Events-Jaku,
  .News-Jaku {
    padding: 20px;
    padding-bottom: 50px;
  }
  .event {
    border: 1px solid #0e7e5c;
    /*min-height: 200px;*/
    margin-left: 20%;
    border-radius: 10px;
    border: 10px solid #9dc2ec48;
  }
  /**/
  .evento {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    -webkit-box-shadow: 0rem 0.25rem 1.25rem 0.0625rem rgba(0, 0, 0, 0.25);
    box-shadow: 0rem 0.25rem 1.25rem 0.0625rem rgba(0, 0, 0, 0.25);
  }
  
  .evento .imgContainer {
    min-height: 18.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0rem 0.125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.15);
    box-shadow: 0rem 0.125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .evento .imgContainer .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .evento .imgContainer .image img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  /* evento content*/
  .evento .content {
    background-color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .evento .content .date {
    font-size: 1.5rem;
    font-weight: 600;
    color: #16745c;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
  }
  
  .evento .content .title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .evento .content .desc {
    font-size: 0.875rem;
    text-align: justify;
    color: gray;
    margin-bottom: 1rem;
  }
  
  .evento .content .readMoreBtn {
    background-color: #3180c5;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    color: #ffffff;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    outline: 0;
    -webkit-box-shadow: 0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.15);
    box-shadow: 0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.15);
  }
  .evento .content .readMoreBtn:hover {
    background-color: #33afe2;
  }
  .dateContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0rem 0.125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.15);
    box-shadow: 0rem 0.125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden;
  }
  /**/
  
  .button-more {
    padding: 30px;
    text-align: center;
  }
  .button-more a{
    border: 1px solid #3183c5;
    color: #3183c5;
  }
  .button-more a:hover {
    color: #fff;
    background-color: #3183c5;
  }
  
  /* News Jaku*/
  .News-Jaku {
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title-events,
  .title-news {
    font-size: 40px;
  }

  /* Color Iconos productos servicios*/
  .fa.fa-calendar.border.rounded-circle,
  .fa.fa-newspaper-o.border.rounded-circle {
    color: #ffffff;
    background-color: #0b6350;
    padding: 20px;
    margin: 0px;
    margin-right: 20px;
    font-size: 30px;
  }
  .fa.fa-newspaper-o.border.rounded-circle {
    padding-left: 18px;
    padding-right: 18px;
  }
  .List-News {
    padding: 10px;
    display: table;
    height: 100%;
    width: 100%;
  }
  .container-new {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .card-new {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.25s;
  }
  .img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
  }
  .img-card img {
    width: 100%;
    height: 250px;
    transition: all 0.25s ease;
  }
  .card-content {
    padding: 15px;
    text-align: left;
    min-height: 330px;
  }
  .card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #ecf0f1;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }
  .card-read-more a {
    background-color: #3180c5;
    color: #fff;
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .card-read-more a:hover {
    background-color: #33afe2;
    color: #fff;
  }
  /*404*/
  #main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  
  .fof{
    display: table-cell;
    vertical-align: middle;
  }
  
  .fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
  }
  
  @keyframes type{
    from{box-shadow: inset -3px 0px 0px #888;}
    to{box-shadow: inset -3px 0px 0px transparent;}
  }