{% extends 'agrosoft_accounts/layout.html' %}
{% load i18n %}

{% block content %}
{% if request.user.is_authenticated %}
{% trans 'Has iniciado sesión como ' %}
    <b>{{ user.username }}</b>, <a href="{% url 'agrosoft_accounts:logout' %}">¿Cerrar sesión?</a>
{% else %}
<div class="card fat">
    <div class="card-body">      
        <form action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}            
            {% for field in form %}
            <div class="form-group">
              <label for="id_{{field.name}}">{{field.label}}</label>
              {{field}}
              <small id="id_{{field.name}}_help" class="form-text text-muted">{{field.help_text}}</small>
            </div>
            {% endfor %}

            {% if request.GET.next %}
              <input type="hidden" name="next" value="{{request.GET.next}}" />
            {% endif %}
            <div class="form-group no-margin mb-2">
              <button type="submit" class="btn btn-success btn-block">
                Ingresar
              </button>
            </div>                          
        </form>
        
        <a class="btn btn-secondary btn-block" href="{% url 'agrosoft_web:home' %}"> Volver a la página web</a>
    </div>
</div>
{% endif %}
</body>
{% endblock %}