{% include 'agrosoft/layout.html' with active_page='enfermedad' %}
{% load static %}
{% block container %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1>  
                <i class="fas fa-folder-plus" style="color: #31c536"></i> 
                Agregar Nueva Enfermedad
            </h1>
            <div class="dropdown-divider"></div>            
            
            <form method="POST" action="" class="needs-validation required"  novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="nombre">Nombre</label></br>
                    <input type="text" id="nombre" name="nombre" class="form-control">
                </div>
                <div>
                    <label for="descripcion">Descripcion</label></br>
                    <input type="text" id="descripcion" name="descripcion" class="form-control">
                </div>
                <div>
                    <label for="fertilizante">Tipo de Fertilizante:</label><br>
                    {% if fertilizantes %}
                    <select name="fertilizante" id="fertilizante" class="form-control">
                        <option selected>Ninguno</option>
                        {%for e in fertilizantes%}
                        <option value="{{e.id}}">{{e.nombre}}</option>
                        {%endfor%}
                    </select>
                    {% else %}
                    <div class="alert alert-warning" role="alert">No existen Fertilizantes creadas.</div>
                    {% endif %}								
                </div>
                <button type="submit" class="btn btn-agrosoft px-4 my-3">Agregar Enfermedad</button>
                <a href="{% url 'agrosoft:listarenfermedades' %}" class="btn btn-agrosoft px-4 my-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}