.navbar-admin {
    padding: 0px;
    padding-right: 30px;
    padding-left: 50px;
    
}
.agrosoft-notification-content,
.agrosoft-admin-perfil {
    padding: 20px;
    width: 300px;
}
.agrosoft-notification-content .dropdown-item:active {
    background-color: #47ee37;
}
.agrosoft-notification-content .title-notification {
    display: block;
}
.agrosoft-notification-content .time-notification {
    font-size: 13px;
    color: #7f8c8d;
}
.agrosoft-admin-perfil .mail-admin {
    font-size: 13px;
    color: #7f8c8d;
}
.agrosoft-admin-perfil .btn-perfil-admin {
    background-color: #3183c5;
    color: #fff;
}
.agrosoft-admin-perfil .btn-perfil-admin:hover {
    background-color: #33aee1;
}
.admin-check {
    color: #fff;
}
.agrosoft-admin-perfil
    .admin-list
    .dropdown-item:hover
    .admin-check {
    color: #3183c5;
}
.agrosoft-admin-perfil .close-sesion-admin {
    width: 100%;
    border-radius: 6px;
    background-color: #ecf0f1;
}
.agrosoft-admin-perfil .close-sesion-admin:hover {
    background-color: #bdc3c7;
}
/**Responsive**/
/** Small devices (landscape phones, 576px and up)**/
@media (max-width: 576px) {
    .admin-logo {
    display: none;
    }
    .navbar-nav {
    display: inline-block;
    
    }
    .agrosoft-notification-content {
    position: absolute;
    top: 40px;
    left: -120px;
    }
}

/**Sidebar Agrosoft**/
.sidebar-admin-agrosoft {
    margin-top: 69px;
    height: 100vh;
    width: 300px;
    position: fixed;
    overflow-x: hidden;
}
.menu-v-admin {
    margin: 50px 10px;
}
.menu-v-title-admin {
    padding: 10px 0px;
    border-bottom: 1px solid #bdc3c7;
}
.menu-v-title-admin .title {
    display: inline;
}
.menu-v-title-admin .btn {
    color: #4e5353;
    width: 250px;
}
.noti-menu-v-item {
    padding: 0px 8px;
    border: 1px solid #7f8c8d;
}
.sub-menu-v-item {
    border: none;
    border-left: 3px solid #3183c5;
    margin-left: 18%;
    width: 80%;
}
@media (max-width: 576px) {
    .sidebar-admin-agrosoft {
    margin-top: 63px;
    display: none;
    }
}

/*------*/

/* Main Panel */
.main-panel {
    position: relative;
    width: calc(100% - 300px);
    min-height: 100%;
    float: right;
    background: #99fdb6;
}
.main-panel .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
    margin-top: 55px;
}
/*Buttons Agrosoft*/
.btn-agrosoft {
    background-color: #31c536;
    color: #fff;
}
.btn-agrosoft:hover {
    background-color: #0d7c5b;
    color: #fff;
}
th {
    text-align: inherit;
    color: #3c4141;
}
