/*    Layouts     */
body {
  min-height: 100vh;
  position: relative;
}

/*Buttons Agrosoft*/
.btn-agrosoft {
  background-color: #31c536;
  color: #fff;
}
.btn-agrosoft:hover {
  background-color: #0d7c5b;
  color: #fff;
}
th {
  text-align: inherit;
  color: #3c4141;
}

.jaku-actions ul {
  padding-inline-start: 0px;
  list-style: none;
}
.jaku-actions ul li a {
  display: inline;
  background-color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 7px;
  list-style: none;
  margin: 10px 0px;
}

.jaku-actions ul li .attendeelist {
  display: block;
  padding: 5px;
  width: 160px;
  font-size: 15px;
  text-decoration: none;
}
.jaku-actions ul li .attendeelist i {
  margin-right: 10px;
}
.jaku-actions ul li .activities {
  display: block;
  padding: 5px;
  width: 120px;
  font-size: 15px;
  text-decoration: none;
}
.jaku-actions ul li .activities i {
  margin-right: 10px;
}
.jaku-actions .ver:hover {
  border-color: #f3ec1b;
  color: #e9cc27;
  background-color: #fff;
}
.jaku-actions .ver {
  border: 1px solid;
  background-color: #bbce14;
  color: #fff;
}
.jaku-actions .editar:hover {
  border-color: rgb(238, 167, 34);
  color: rgb(228, 150, 33);
  background-color: #fff;
}
.jaku-actions .editar {
  border: 1px solid;
  background-color: rgb(211, 151, 39);
  color: #fff;
}
.jaku-actions .tareas:hover {
  border-color: #089e65;
  color: #089e65;
  background-color: #fff;
}
.jaku-actions .tareas {
  border: 1px solid;
  background-color: #089e65;
  color: #fff;
}
.jaku-actions .attendeelist:hover {
  border-color: #a12281;
  color: #a12281;
  background-color: #fff;
}
.jaku-actions .attendeelist {
  border: 1px solid;
  background-color: #a12281;
  color: #fff;
}
.jaku-actions .eliminar:hover {
  border-color: rgb(216, 56, 28);
  color: rgb(230, 68, 40);
  background-color: #fff;
}
.jaku-actions .eliminar {
  border: 1px solid;
  background-color: rgb(240, 67, 36);
  color: #fff;
}
.jaku-actions .projects {
  border: 1px solid;
  background-color: #2ecc71;
  color: #fff;
}
.jaku-actions .projects:hover {
  border-color:  #2ecc71;
  background-color: #fff;
  color:  #2ecc71;
}
.jaku-actions .evaluation{
  border: 1px solid;
  background-color: #34495e;
  color: #fff;
}
.jaku-actions .evaluation:hover{
  border-color: #34495e;
  background-color: #fff;
  color:#34495e;
}
.jaku-actions .jurados{
  border: 1px solid;
  background-color: #34495e;
  color: #fff;
}
.jaku-actions .jurados:hover{
  border-color: #34495e;
  background-color: #fff;
  color:#34495e;
}
.jaku-actions .project_active{
  border: 1px solid;
  background-color: #e67e22;
  color: #fff;
}
.jaku-actions .project_active:hover{
  border-color: #e67e22;
  background-color: #fff;
  color: #e67e22;
}
.jaku-actions .activities:hover {
  border-color: #29b94d;
  color: #29b94d;
  background-color: #fff;
}
.jaku-actions .activities {
  border: 1px solid;
  background-color: #29b94d;
  color: #fff;
}
/*required fields*/
.required label:after {
  color: #e32;
  content: " *";
  display: inline;
}

/*Buttons Jaku*/
.btn-jaku {
  background-color: #33a31c;
  color: #fff;
}
.btn-jaku:hover {
  background-color: #33a31c;
  color: #fff;
}
/*List attendee*/
.css-serial {
  counter-reset: serial-number;
}
.css-serial td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}
/*List my projects*/
.css-serial {
  counter-reset: serial-number;
}

.css-serial td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}
/*Main*/
.main-header {
  min-height: 55px;
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 1001;
  border-bottom: 1px solid #eee;
}
.main-header .logo-header {
  float: left;
  width: 260px;
  height: 55px;
  line-height: 55px;
  border-right: 1px solid #eee;
  z-index: 1001;
  font-size: 18px;
  font-weight: 600;
  padding-left: 1%;
  /*padding-right: 25px;*/
  z-index: 1001;
}
.main-header .logo-header a.logo {
  color: #575962;
}
.main-header .logo-header .navbar-toggler {
  padding-left: 0px;
  padding-right: 0px;
  opacity: 0;
}
.main-header .logo-header .navbar-toggler .navbar-toggler-icon {
  color: #575962;
  background-size: cover;
  height: 1em;
  width: 1em;
}
.main-header .logo-header .more {
  background: transparent;
  border: 0;
  font-size: 26px;
  padding: 0;
  opacity: 0;
}
/*     Navbar     */
.navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  line-height: 55px;
  letter-spacing: 0.04em;
  padding: 0 20px 0 0;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.navbar .navbar-nav .nav-item .nav-link i {
  font-size: 22px;
  width: 30px;
  vertical-align: middle;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 5px;
  left: auto;
  right: 0;
}
.dropdown-item {
  font-size: 14px;
}
.navbar-header {
  padding: 0px 15px;
}
.navbar-header .dropdown-toggle {
  line-height: 55px;
}
.navbar-header .dropdown-toggle::after {
  margin-left: 0;
}

.profile-pic:hover,
.profile-pic:focus {
  text-decoration: none;
}
.navbar-header .dropdown-toggle::after {
  vertical-align: middle;
  color: #555;
}
.hidden-caret .dropdown-toggle::after {
  display: none !important;
}
/*     User Admin Dropdown    */
.dropdown-user {
  width: 280px;
}
.user-box {
  display: flex;
  padding: 0.25rem 1rem;
}
.user-box .u-text {
  padding: 0 10px;
}
.user-box .u-text h4 {
  margin-bottom: 0;
  font-size: 18px;
}
.user-box .u-text .text-muted {
  font-size: 13px;
  margin-bottom: 5px;
}
.user-box .u-text .btn {
  font-size: 12px;
}
/* Side Bar*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  font-weight: 200;
  background: #ffffff;
  background-size: cover;
  background-position: center center;
  border-right: 1px solid #eee;
  box-shadow: 6px 1px 20px rgba(69, 65, 78, 0.1);
}
.sidebar .user {
  margin-top: 12.5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 12.5px;
  border-bottom: 1px solid #eee;
  display: block;
}
.sidebar .user .info > span {
  font-size: 17px;
  font-weight: 600;
  color: #777;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
}
.sidebar .user .info > span .user-level {
  color: #555;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  margin-top: 5px;
}
.sidebar .sidebar-wrapper {
  position: relative;
  max-height: calc(100vh - 75px);
  min-height: 100%;
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-top: 55px;
  padding-bottom: 100px;
}
.sidebar .nav {
  display: block;
  float: none;
  margin-top: 20px;
}
.sidebar .nav .nav-item {
  display: list-item;
}
.sidebar .nav .nav-item.active a {
  color: #575962;
  font-weight: 700;
}
.sidebar .nav .nav-item.active a:before {
  background: #1f640d;
  opacity: 1 !important;
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
}
.sidebar .nav .nav-item.active:hover a:before {
  background: #13b837;
  opacity: 1 !important;
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
}
.sidebar .nav .nav-item a {
  display: flex;
  align-items: center;
  color: #838a84;
  padding: 13px 25px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  margin-bottom: 5px;
}
.sidebar .nav .nav-item a:hover,
.sidebar .nav .nav-item a:focus {
  text-decoration: none;
  background: #fbfbfb;
}
.sidebar .nav .nav-item:hover a:before {
  background: #1e740c;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
}
.sidebar .nav .nav-item a i {
  font-size: 23px;
  color: #c3c5ca;
  margin-right: 15px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  float: left;
}
.sidebar .nav .nav-item a p {
  font-size: 14px;
  margin-bottom: 0px;
  letter-spacing: 0.04em;
  margin-right: 5px;
}
.sidebar .nav .nav-item .event-task {
  padding-top: 5%;
  font-size: 20px;
  color: #c3c5ca;
}
.sidebar .nav .nav-item .event-task:hover {
  color: #31c562;
}
/*subitem*/
.sidebar .nav .nav-subitem {
  border-left: 4px solid #eee;
  margin-left: 40px;
  background-color: #fff;
}
.sidebar .nav .nav-subitem a {
  color: #83848a;
  display: flex;
  align-items: center;
  padding: 13px 10px;
  width: 100%;
  font-weight: 600;
  position: relative;
  margin-bottom: 5px;
}
.sidebar .nav .nav-subitem a:hover,
.sidebar .nav .nav-subitem a:focus {
  text-decoration: none;
}
.sidebar .nav .nav-subitem:hover a:before {
  background: #24b951;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
}
.sidebar .nav .nav-subitem a i {
  font-size: 23px;
  color: #c3c5ca;
  margin-right: 15px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  float: left;
}
.sidebar .nav .nav-subitem a p {
  font-size: 14px;
  margin-bottom: 0px;
  letter-spacing: 0.04em;
  margin-right: 5px;
}

.navbar-admin {
  padding: 0px;
  padding-right: 30px;
  padding-left: 50px;
  background-color: #ffffff;
}
.agrosoft-notification-content,
.agrosoft-admin-perfil {
  padding: 20px;
  width: 300px;
}
.agrosoft-notification-content .dropdown-item:active {
  background-color: #47ee37;
}
.agrosoft-notification-content .title-notification {
  display: block;
}
.agrosoft-notification-content .time-notification {
  font-size: 13px;
  color: #7f8c8d;
}
.agrosoft-admin-perfil .mail-admin {
  font-size: 13px;
  color: #7f8c8d;
}
.agrosoft-admin-perfil .btn-perfil-admin {
  background-color: #289c1e;
  color: #fff;
}
.agrosoft-admin-perfil .btn-perfil-admin:hover {
  background-color: #30b985;
}
.admin-check {
  color: #fff;
}
.agrosoft-admin-perfil
  .admin-list
  .dropdown-item:hover
  .admin-check {
  color: #24b855;
}
.agrosoft-admin-perfil .close-sesion-admin {
  width: 100%;
  border-radius: 6px;
  background-color: #ecf0f1;
}
.agrosoft-admin-perfil .close-sesion-admin:hover {
  background-color: #bdc3c7;
}

/**Responsive**/
/** Small devices (landscape phones, 576px and up)**/
@media (max-width: 576px) {
  .admin-logo {
  display: none;
  }
  .navbar-nav {
  display: inline-block;    
  }
  .agrosoft-notification-content {
  position: absolute;
  top: 40px;
  left: -120px;
  }
}

/**Sidebar Agrosoft**/
.sidebar-admin-agrosoft {
  margin-top: 69px;
  height: 100vh;
  width: 300px;
  position: fixed;
  overflow-x: hidden;
}
.menu-v-admin {
  margin: 50px 10px;
}
.menu-v-title-admin {
  padding: 10px 0px;
  border-bottom: 1px solid #bdc3c7;
}
.menu-v-title-admin .title {
  display: inline;
}
.menu-v-title-admin .btn {
  color: #4e5353;
  width: 250px;
}
.noti-menu-v-item {
  padding: 0px 8px;
  border: 1px solid #7f8c8d;
}
.sub-menu-v-item {
  border: none;
  border-left: 3px solid #3183c5;
  margin-left: 18%;
  width: 80%;
}
@media (max-width: 576px) {
  .sidebar-admin-agrosoft {
  margin-top: 63px;
  display: none;
  }
}

/* Main Panel */
.main-panel {
  position: relative;
  width: calc(100% - 260px);
  min-height: 100%;
  float: right;
  background: #14992f;
}
.main-panel .content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
  margin-top: 55px;
}


/*     Card     */
.card {
  border-radius: 0px;
  background-color: #ffffff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  border: 1px solid #eee;
}
.card .card-header {
  padding: 15px 15px;
  background-color: transparent;
  border-bottom: 1px solid #ebedf2 !important;
}
.card .card-title {
  margin: 0;
  color: #575962;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}
.card .card-sub {
  display: block;
  margin: 5px 0 10px 0;
  font-size: .9rem;
  background: #f7f8fa;
  color: #575962;
  padding: 0.85rem 1.5rem;
  border-radius: 4px;
}
.card .card-category {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0px;
}
.card label {
  font-size: 14px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0px;
}
.card .card-body {
  padding: 15px 15px 10px 15px;
}
.card .card-footer {
  background-color: transparent;
  line-height: 30px;
  border-top: 1px solid #ebedf2 !important;
  font-size: 14px;
}
.card .card-action {
  padding: 30px;
  background-color: transparent;
  line-height: 30px;
  border-top: 1px solid #ebedf2 !important;
  font-size: 14px;
}
.card .card-footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card .card-footer .legend {
  display: inline-block;
}

.card-stats .card-category {
  margin-top: 0px;
}
.card-stats .icon-big {
  font-size: 3em;
  min-height: 64px;
}

.card-tasks .table thead th {
  border-top: 1px solid #f4f4f4;
  background: #fafafa !important;
}
.card-tasks .table .form-check {
  padding: 0 0 0 0.75rem !important;
}
.card-tasks .table .form-check label {
  margin-bottom: 0px !important;
}
.card-tasks .table tbody td:first-child, .card-tasks .table thead th:first-child {
  padding-left: 15px;
  padding-right: 15px;
}
.card-tasks .table tbody td:last-child, .card-tasks .table thead th:last-child {
  padding-right: 15px;
}
.card-tasks .card-body .table td {
  font-size: 14px;
  line-height: 1.8;
}
.card-tasks .card-body .table td .btn {
  font-size: 17px;
  opacity: 0.7;
  transition: all .3s;
}
.card-tasks .card-body .table td:hover .btn {
  opacity: 1;
}

.card-default, .card-primary, .card-info, .card-success, .card-warning, .card-danger {
  color: #ffffff;
  border: 0px;
}

.card-default .card-header, .card-primary .card-header, .card-info .card-header, .card-success .card-header, .card-warning .card-header, .card-danger .card-header {
  border-bottom: transparent !important;
}

.card-default .card-category, .card-primary .card-category, .card-info .card-category, .card-success .card-category, .card-warning .card-category, .card-danger .card-category, .card-default .card-title, .card-primary .card-title, .card-info .card-title, .card-success .card-title, .card-warning .card-title, .card-danger .card-title, .card-default label, .card-primary label, .card-info label, .card-success label, .card-warning label, .card-danger label {
  color: #ffffff;
}

.card-default .icon-big > i, .card-primary .icon-big > i, .card-info .icon-big > i, .card-success .icon-big > i, .card-warning .icon-big > i, .card-danger .icon-big > i {
  color: #ffffff !important;
}

.card-default .card-footer, .card-primary .card-footer, .card-info .card-footer, .card-success .card-footer, .card-warning .card-footer, .card-danger .card-footer {
  border-top: transparent !important;
}

.card-default {
  background: #607D8B;
}

.card-primary {
  background: #1D62F0;
}

.card-info {
  background: #23CCEF;
}

.card-success {
  background: #59d05d;
}

.card-warning {
  background: #fbad4c;
}

.card-danger {
  background: #ff646d;
}

/* Footer */
.footer {
  border-top: 1px solid #eee;
  padding: 15px;
  background: #ffffff;
}
.footer .container-fluid {
  display: flex;
  align-items: center;
}

/*     Responsive     */
@media screen and (max-width: 700px) {
  .row-card-no-pd [class*="col-"] .card:after {
    width: 0px !important;
  }
  .row-card-no-pd .card {
    border-bottom-width: 1px;
  }
  .row-card-no-pd .card:last-child {
    border-bottom-width: 0px;
  }
}
@media screen and (min-width: 992px) {
  .main-header .logo-header {
    line-height: 52px;
  }

  .sidebar .scroll-element {
    opacity: 0;
    transition: all 0.2s;
  }
  .sidebar:hover .scroll-element {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .sidebar {
    position: fixed;
    left: 0 !important;
    right: 0;
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    -ms-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0) !important;
    transition: all 0.5s;
  }

  .nav_open .sidebar {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0) !important;
  }

  .sidebar .sidebar-wrapper {
    padding-top: 0px;
  }

  .nav_open {
    overflow: hidden !important;
  }
  .nav_open .main-panel,
  .nav_open .main-header {
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0) !important;
  }

  .main-header {
    transition: all 0.5s;
  }

  .main-panel {
    width: 100%;
    transition: all 0.5s;
  }
  .main-panel .content {
    padding: 30px 10px;
  }

  .main-header .logo-header {
    display: flex;
    width: 100% !important;
    text-align: left;
    position: relative;
    justify-content: center;
  }
  .main-header .logo-header .navbar-toggler {
    position: absolute;
    top: auto;
    height: 100%;
    left: 15px;
    opacity: 1;
  }
  .main-header .logo-header .more {
    opacity: 1;
    position: absolute;
    right: 15px;
    color: #545454;
    cursor: pointer;
  }

  .nav-search {
    width: 100%;
    margin-right: 0 !important;
    margin-top: 12px;
  }

  .navbar-header {
    border-top: 1px solid #eee;
    position: absolute;
    width: 100%;
    background: #ffffff;
    transform: translate3d(0, -200px, 0) !important;
    transition: all 0.5s;
  }

  .topbar_open .navbar-header {
    transform: translate3d(0, 54px, 0) !important;
    border-bottom: 1px solid #eee;
  }
  .topbar_open .main-panel {
    transform: translate3d(0, 125px, 0) !important;
  }

  .nav_open.topbar_open .main-panel {
    transform: translate3d(260px, 125px, 0) !important;
  }

  .navbar-header .navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .navbar-header .navbar-nav .dropdown {
    position: unset;
  }
  .navbar-header .navbar-nav .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 280px;
  }

  .profile-pic span {
    display: none;
  }
}