{% include 'agrosoft/layout.html' with active_page='enfermedad' %}
{% load static %}
{% block container %}

<!-- Lista de registro de Enfermedades -->
<head>
    <title>Lista de Enfermedades</title>
</head>  
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h2>
                <i class="fa fa-heartbeat" style="color: #73daad;"></i>
                Mis Enfermedades
            </h2>
            <div class="dropdown-divider"></div>
            <div class="call-add my-3">
                {% if perms.auth.add_user %}
                <a class="btn btn-agrosoft" href="{% url 'agrosoft:agregarenfermedad' %}">
                    <i class="fa fa-plus-square"></i>
                    Agregar Enfermedad
                </a>
                {% endif %}
            </div>
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                    {{ message }}
            </div>
            {% endfor %}
            
            <!-- Tabla de Registros  -->
            {% if enfermedades %}
            <div class="table-responsive shadow-sm" style="border-radius: 9px;">
                <table class="table table-bordered">
                    <thead style="background: linear-gradient(120deg,#37db73,#3adf97);" class="text-center">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in enfermedades %}
                        <tr>
                            <td> {{p.nombre}}</td>
                            <td> {{p.descripcion}}</td>
                            <td class="jaku-actions">
                                <ul>
									<li>                                        
                                        <a onclick="abrirModal('{% url 'agrosoft:detalleenfermedad' p.id %}')" class="ver" data-toggle="tooltip"
                                        title="Ver" data-placement="top"><i class="fas fa-eye fa-lg"></i></a>
                                        <a class="editar" href="{% url 'agrosoft:editarenfermedad' p.id %}" data-toggle="tooltip"
                                        title="Editar" data-placement="top"><i class="fas fa-edit fa-lg"></i></a>
                                        <a class="eliminar" href="{% url 'agrosoft:eliminarenfermedad' p.id %}" onclick="return confirm('¿Está seguro de eliminar esta Enfermedad?')" data-toggle="tooltip"
                                        title="Editar" data-placement="top"><i class="fas fa-trash"></i></a>																				
                                    </li>
                                </ul>                     
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
            <!-- End of table of registers  -->
            {% else %}
            <div class="container-fluid">
                <div class="alert alert-primary">
                    <p>No tiene Enfermedades Registradas.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="modal" id="mostrar"></div>
    <!-- Footer -->
    {% include "agrosoft_web/footer-agrosoft.html" %}
    <!-- End Footer -->

</div>    
{% endblock %}