{% extends 'agrosoft_web/layout.html' %}
{% load static %}
{% block container %}
<title>Jaku | Directorio y Mentores </title>
<div class="fondo">
    <div class="jaku-Directorio-Mentores py-5">
        <div class="bg-content-dir-mentores-jaku">
            <div class="content-dir-mentores shadow">
                <di class="directorio-jaku">
                    <h1>Catálogo de Productos</h1>
                    <div class="content-directorio-jaku">
                        <div class="">
                            <div class="row">
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'images/d1.jpg' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Cultivo de Fresa</h3>
                                            <h4 class="title">Descripción</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'images/d2.jpg' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Cultivo de Pepinillo</h3>
                                            <h4 class="title">Descripción</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'images/d3.jpg' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Cultivo de Pimentón</h3>
                                            <h4 class="title">Descripción</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'images/d4.jpg' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Cultivo de Lechuga hidroponica</h3>
                                            <h4 class="title">Descripción</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'images/d5.jpg' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Cultivo de Cebolla</h3>
                                            <h4 class="title">Descripción</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'images/d6.jpg' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Cultivo de Palta</h3>
                                            <h4 class="title">Descripción</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </di>
                <div class="dropdown-divider my-5"></div>
                <div class="mentores-jaku">
                    <h1>Servicios</h1>
                    <div class="content-directorio-jaku">
                        <div class="row">
                            <div class="carddm col-sm shadow-sm">
                                <div class="our-team">
                                    <div class="picture">
                                        <img class="img-fluid" src="{% static 'images/v1.jpg' %}">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="name">Paquetes de Visitas Guiadas</h3>
                                        <h4 class="title">Descripción</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="carddm col-sm shadow-sm">
                                <div class="our-team">
                                    <div class="picture">
                                        <img class="img-fluid" src="{% static 'images/v2.jpg' %}">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="name">Asesoria Personalizada</h3>
                                        <h4 class="title">Descripción</h4>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}