{% extends 'agrosoft/admi_base.html' %}
{% load static %}
{% block container %}

    <!-- List of registered calls  -->

<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h2>
                <i class="fa fa-list-alt" style="color: #73daad;"></i>
                Mis Usuarios
            </h2>
            <div class="dropdown-divider"></div>
            <div class="call-add my-3">
                <a class="btn btn-agrosoft" style="margin-left: 84%;" href="{% url 'agrosoft:createuser' %}">
                    <i class="fa fa-hand-pointer-o"></i>
                    Agregar Usuario
                </a>
            </div>
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                    {{ message }}
            </div>
            {% endfor %}
            
            <!-- Table of registers  -->
            {% if usuario %}
            <div class="table-responsive shadow-sm" style="border-radius: 9px;">
                <table class="table table-bordered">
                    <thead style="background: linear-gradient(120deg,#73daad,#73daad);" class="text-center">
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    {% for p in usuario %}
                    <tbody>
                        <tr>
                            <td>
                                {{p.username}}
                            </td>
                            <td>
                                {{p.first_name}}
                            </td>
                            <td>
                                {{p.last_name}}
                            </td>
                            <td>
                                <a href="{% url 'agrosoft:edituser' p.id %}" ><i class="fas fa-edit fa-lg" style="color: #31c536"></i></a>
                                <a href="{% url 'agrosoft:deleteuser' p.id %}" onclick="return confirm('¿Está seguro de eliminar este Usuario')"><i class="fas fa-trash" style="color: #31c536"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <!-- End of table of registers  -->
            {% else %}
            <div class="container-fluid">
                <div class="alert alert-primary">
                    <p>No tiene usuarios registrados.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

    
{% endblock %}