{% include 'agrosoft/layout.html' with active_page='lote' %}
{% load static %}
{% block container %}

    <!-- List of registered calls  -->
<head>
    <title>Lista de Lotes</title>
</head>  
<div class="main-panel">
    <div class="content">        
        <div class="container-fluid shadow-sm bg-light p-3">

            <h4 class="page-title">Resumen</h4>
						<div class="row">
							<div class="col-md-3">
								<div class="card card-stats card-warning">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Personal</p>
													<h4 class="card-title">{{ personal_count }}</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-success">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="fa fa-bar-chart"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Producción</p>
													<h4 class="card-title">S/. 1,345</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-danger">
									<div class="card-body">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="fa fa-newspaper-o"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Lotes</p>
													<h4 class="card-title">{{ lotes_count }}</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                           
							<div class="col-md-3">
								<div class="card card-stats card-primary">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="fa fa-check-circle"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Inventario</p>
													<h4 class="card-title">
                                                        {{ bienes_count }}
                                                    </h4>
												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>                           
						</div>                       

            <h2>
                <i class="fa fa-building" style="color: #73daad;"></i>
                Mis Lotes
            </h2>
            <div class="dropdown-divider"></div>
            <div class="call-add my-3">
                <a class="btn btn-agrosoft"  href="{% url 'agrosoft:agregarlote' %}">
                    <i class="fa fa-plus-square"></i>
                    Agregar Lote
                </a>
            </div>
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                    {{ message }}
            </div>
            {% endfor %}
            
            <!-- Table of registers  -->
            {% if lotes %}
            <div class="table-responsive shadow-sm" style="border-radius: 9px;">
                <table class="table table-bordered">
                    <thead style="background: linear-gradient(120deg,#37db73,#3adf97);" class="text-center">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Area</th>
                            <th scope="col">Fecha de Riego</th>
                            <th scope="col">Producción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for p in lotes %}
                        <tr>
                            <td> {{p.nombre}}</td>
                            <td> {{p.area}} &#13217;</td>
                            <td> {{p.fecha_riego}}
                            <td> S/. {{p.produ}}
                            <td class="jaku-actions">
                                <ul>
									<li>                                        
                                        <a onclick="abrirModal('{% url 'agrosoft:detallelote' p.id %}')" class="ver" data-toggle="tooltip"
                                        title="Ver" data-placement="top"><i class="fas fa-eye fa-lg"></i></a>
                                        <a class="editar" href="{% url 'agrosoft:editarlote' p.id %}" data-toggle="tooltip"
                                        title="Editar" data-placement="top"><i class="fas fa-edit fa-lg"></i></a>
                                        <a class="eliminar" href="{% url 'agrosoft:eliminarlote' p.id %}" onclick="return confirm('¿Está seguro de eliminar este Cultivo?')" data-toggle="tooltip"
                                        title="Editar" data-placement="top"><i class="fas fa-trash"></i></a>																				
                                        <a href="" class="evaluation" data-toggle="tooltip" title="Gestionar producción" data-placement="top">
                                            <i class="fas fa-star fa-lg"></i>Gestionar
                                        </a>
                                    </li>
                                </ul>                     
                            </td>
                        </tr>                        
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
            <!-- End of table of registers  -->
            {% else %}
            <div class="container-fluid">
                <div class="alert alert-primary">
                    <p>No tiene lotes registrados.</p>
                </div>
            </div>
            {% endif %}


             <!-- SECTION INFORMATION 2-->
             <div class="row row-card-no-pd">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="fw-bold mt-0">Producción Total</p>
                            <h4><b>S/. 3,018</b></h4>
                            <a href="#" class="btn btn-success btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Ver registros</a>
                        </div>									
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Producto 1</span>
                                    <span class="text-muted fw-bold"> S/. 3000</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="78%"></div>
                                </div>
                            </div>
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Producto 2</span>
                                    <span class="text-muted fw-bold"> S/. 2100</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="65%"></div>
                                </div>
                            </div>
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Producto 3</span>
                                    <span class="text-muted fw-bold"> S/. 2800</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="70%"></div>
                                </div>
                            </div>
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Producto 4</span>
                                    <span class="text-muted fw-bold"> S/. 1800</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats">
                        <div class="card-body">
                            <p class="fw-bold mt-0">Estadisticas</p>
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="fa fa-pie-chart text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Exportaciones</p>
                                        <h4 class="card-title">150</h4>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="fa fa-bath"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Clientes</p>
                                        <h4 class="card-title">+45K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="mostrar"></div>
    <!-- Footer -->
    {% include "agrosoft_web/footer-agrosoft.html" %}
    <!-- End Footer -->

</div>

    
{% endblock %}