{% extends 'home/layout.html' %}
{% load static %}
{% block container %}
<title>Jaku | Historia</title>
<div class="jaku-historia">
    <div class="fondo">
        <div class="title-jaku">
            <h1>Nuestra Historia</h1>
        </div>
    </div>
    <div class="bg-content-jaku">
        <div class="content-jaku shadow p-5 text-justify">
            Si conceptuamos la historia como el análisis de los eventos sociales pasados para entender nuestro presente, la reseña histórica de la Universidad Nacional de San Agustín, deviene como el fundamento de la propuesta de construcción de su futuro. La fundación de la UNSA ofrece dos periodos históricos claramente diferenciados. En ambos, resaltan con
            nitidez los esfuerzos desplegados por instituciones y por la intelectualidad arequipeña interpretando los anhelos de una ciudad llamada a ser, en la República, el faro de la libertad y de la ley. <br>
            En la primera etapa, fueron los clérigos domínicos que después de arduas y persistentes gestiones, lograron que el Rey Felipe V concediera licencia de Universidad Real y Pontificia “Entra Claustra” en el Convento de Santo Domingo, por cédula del 22 de enero de 1714, la que quedó inaugurada solemnemente en 1719 y que luego paralizó su funcionamiento, por no poder sostenerla el Convento, según aparece en el trabajo del ilustre maestro arequipeño don Federico M. Ugarte, publicado en la Revista Universitaria en 1929. <br>
            La segunda etapa, corresponde a las gestiones y esfuerzos realizados por las instituciones y la comunidad en los años inmediatos a la proclamación de nuestra independencia política. 
            <br> Un hito fundamental lo constituyó la fundación de la Academia Lauretana de la Ciencia el 10 de diciembre de 1821 en el templo de la Compañía de Jesús, y en la que se integraron las más brillantes personalidades del clero y la civilidad, comulgando con el común espíritu libertario de la patria que emergía con ideas de independencia y autonomía. Así, llegamos al 11 de noviembre de 1828 que
            en una memorable y solemne ceremonia, queda registrada en la señera acta de su fundación, en que se declaró instalada la “Universidad Nacional del Gran Padre San Agustín” del departamento de Arequipa. Desde aquella fecha memorable hasta la actualidad, la UNSA, al igual que otras instituciones públicas del país, ha pasado por crisis y conflictos con determinantes externos e internos, así como, por una permanente lucha en defensa de su autonomía. Son estos orígenes los que nos permiten entender porque celebramos dos fechas institucionales de aniversario: 28 de agosto, en  conmemoración a Aurelia Agustinus que abjuró al maniqueísmo para convertirse al cristianismo, lo que a la postre por sus virtudes, le permitió ocupar el sillón episcopal de Hipona; y el 11 de noviembre, en conmemoración al trascendente evento social de su fundación civil laica, siendo la cuarta universidad creada a nivel nacional.

        </div>
    </div>
</div>
{% endblock %}