{% extends 'home/layout.html' %}
{% load static %}
{% block container %}
<title>Jaku | Misión y Visión</title>
<div class="jaku-Mision-Vision">
    <div class="fondo">
        <div class="jaku-mision-vision-content py-5">
            <div class="container" style="align-items: center;">
                <div class="row">
                    <div class="col-sm title-jaku-mision">
                        <h1>Visión</h1>
                    </div>
                    <div class="col-sm mb-3">
                        <div class="bg-content-mision-jaku">
                            <div class="content-mision-jaku shadow text-justify">
                                Consolidar un modelo de incubación que apoye en el desarrollo
                                económico, social y cultural de la sociedad peruana y aporte en la
                                integración técnica, económica y comercial del corredor latinoamericano
                                central.

                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm title-jaku-vision">
                        <h1>Misión</h1>
                    </div>
                    <div class="col-sm">
                        <div class="bg-content-vision-jaku">
                            <div class="content-vision-jaku shadow text-justify">
                                JAKU EMPRENDE UNSA está dedicada a complementar la
                                formación integral de profesionales, académicos y científicos con
                                fortalezas competitivas y éticas; con capacidad de trabajar con
                                ideas, transformándolas en proyectos exitosos, auto-sostenibles
                                que apoyen el desarrollo integral de las sociedades; para ello se
                                proporcionan herramientas, a nivel personal para el desarrollo de
                                habilidades y capacidades humanas que afiancen el talento
                                emprendedor; a nivel técnico para la construcción y soporte de la
                                propuesta empresarial.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}