{% extends 'home/layout.html' %}
{% load static %}
{% block container %}
<title>Jaku | Historia</title>
<div class="jaku-historia">
    <div class="fondo">
        <div class="title-jaku">
            <h1>Nuestra Historia</h1>
        </div>
    </div>
    <div class="bg-content-jaku">
        <div class="content-jaku shadow p-5 text-justify">            
            Nuestra empresa fue fundada en 2015 con una plantilla de más de 10 años de experiencia en el negocio de la cosecha y distribución de alimentos. Es la empresa de mejor calidad en fresas de caracterizándonos por tener una cosecha continua los 12 meses del año gracias a los diferentes campos que posee y al manejo especializado de la cosecha .
            <br>AGROSERVIC  se preocupa y dedica a los más altos estándares de calidad tratado dentro de los estándares internacionales como los procesos y controles de Global Gap, comprometido con el cliente en entregar un producto sin residuos tóxicos.
            <br>Nuestros productos se venden en todo el Perú y estamos iniciando los trámites necesarios para exportar nuestros productos.
            <br><br><strong>Gerente General:</strong> Remil Emilio Paredes Angulo.
        </div>
    </div>
</div>
{% endblock %}