{% extends 'home/layout.html' %}
{% load static %}
{% block container %}
<title>Jaku | Misión y Visión</title>
<div class="jaku-Mision-Vision">
    <div class="fondo">
        <div class="jaku-mision-vision-content py-5">
            <div class="container" style="align-items: center;">
                <div class="row">
                    <div class="col-sm title-jaku-mision">
                        <h1>Visión</h1>
                    </div>
                    <div class="col-sm mb-3">
                        <div class="bg-content-mision-jaku">
                            <div class="content-mision-jaku shadow text-justify">
                                Ser reconocidos como la mejor compañía productora y exportadora de Fresas del Perú.
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm title-jaku-vision">
                        <h1>Misión</h1>
                    </div>
                    <div class="col-sm">
                        <div class="bg-content-vision-jaku">
                            <div class="content-vision-jaku shadow text-justify">
                                Entregar fresas con calidad garantizada,  a través de la innovación, 
                                desarrollo y cuidado en todos los detalles de sus procesos, desde la siembra hasta la entrega.
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <br>
                    <div class="col-sm title-jaku-compromiso">
                        <h1>Compromiso</h1>
                    </div>
                    <div class="col-sm">
                        <div class="bg-content-compromiso-jaku">
                            <div class="content-compromiso-jaku shadow text-justify">
                                Compartir la tecnología y la experiencia adquirida, especialmente con pequeños productores 
                                organizados de esta forma fomentar la siembra y producción de fresa en el Perú.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}