{% extends 'home/layout.html' %}
{% load static %}
{% block container %}
<title>Jaku | Directorio y Mentores </title>
<div class="fondo">
    <div class="jaku-Directorio-Mentores py-5">
        <div class="bg-content-dir-mentores-jaku">
            <div class="content-dir-mentores shadow">
                <di class="directorio-jaku">
                    <h1>Catálogo de Productos</h1>
                    <div class="content-directorio-jaku">
                        <div class="">
                            <div class="row">
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'img/1-min.PNG' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Ing. Juan Zamata Machaca</h3>
                                            <h4 class="title">Coordinador General</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'img/2-min.PNG' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Ing. Freddy Gonzales</h3>
                                            <h4 class="title">Ejecutivo de Proyectos</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="carddm col-sm shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'img/3.PNG' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Orlando Mendoza Yuera</h3>
                                            <h4 class="title">Ejecutivo de Emprendimiento</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="carddm col-sm-4 shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'img/4-min.PNG' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Juan José López</h3>
                                            <h4 class="title">Ejecutivo de Innovación y Capacitación</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="carddm col-sm-4 shadow-sm">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" src="{% static 'img/5.PNG' %}">
                                        </div>
                                        <div class="team-content">
                                            <h3 class="name">Reynaldo Cornejo Linares</h3>
                                            <h4 class="title">Coordinador Administrativo</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </di>
                <div class="dropdown-divider my-5"></div>
                <div class="mentores-jaku">
                    <h1>Servicios</h1>
                    <div class="content-directorio-jaku">
                        <div class="row">
                            <div class="carddm col-sm shadow-sm">
                                <div class="our-team">
                                    <div class="picture">
                                        <img class="img-fluid" src="{% static 'img/6-min.jpg' %}">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="name">Roguer Mario Paredes Falconi</h3>
                                        <h4 class="title">rogmariop@gmail.com</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="carddm col-sm shadow-sm">
                                <div class="our-team">
                                    <div class="picture">
                                        <img class="img-fluid" src="{% static 'img/7-min.png' %}">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="name">Tamayo Oporto José Carlos</h3>
                                        <h4 class="title">ctamayo@yolomedia.pe</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="carddm col-sm shadow-sm">
                                <div class="our-team">
                                    <div class="picture">
                                        <img class="img-fluid" src="{% static 'img/8-min.png' %}">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="name">Karla Yessenia Rejas Charrez</h3>
                                        <h4 class="title">krejascharrez@gmail.com</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}